---
import Layout from "../layouts/Layout.astro";
import ListArticles from "../components/ListArticles.astro";
---

<Layout title="Home">
	<main>
		<section>
			<div class="px-4 mx-auto max-w-screen-xl">
				<h1>Home</h1>
				<div class="grid gap-10">
					<ListArticles />
				</div>
			</div>
		</section>
	</main>
</Layout>
