---
import Layout from "../layouts/Layout.astro";
import ListTags from "../components/ListTags.astro";
---

<Layout title="Tags">
	<main>
		<section>
			<div class="px-4 mx-auto max-w-screen-xl">
				<h1>Tags</h1>
				<div class="grid gap-10">
					<ListTags class="text-sm py-1" />
				</div>
			</div>
		</section>
	</main>
</Layout>
