---
---

<footer class="p-4 justify-between bg-white rounded-lg dark:bg-gray-900">
    <span
        class="flex justify-center text-center text-sm text-gray-500 dark:text-gray-400"
        >© 2023 Yaboxi_ All Rights Reserved.
    </span>
</footer>
